root = true

[*]
trim_trailing_whitespace = true
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2

[*.{cs}]
csharp_new_line_before_open_brace = none
csharp_space_between_method_declaration_name_and_open_parenthesis = true
csharp_space_after_keywords_in_control_flow_statements = true
csharp_preserve_single_line_blocks = true